@model JobOffersWeb.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل الوظيفة </h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uplades/@Html.DisplayFor(model => model.JobImage)"
                 class="img-thumbnail" style="height:128px; width:128px;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("التقدم الى هذه الوظيفة ", "Apply", new { id = Model.Id } , new { @class = "but but-success" }) |
    @Html.ActionLink("العودة الى الصفحة الرئسية ", "Index" , new { @class = "but but-default" })
</p>
